/* @import url('https://fonts.googleapis.com/css2?family=Jost&display=swap'); */


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
body{
  font-family: "Gabarito", sans-serif;
}

/*--------------------------nav bar section-----------------------------*/
.hero{
    background: url(./images/banner-bg.jpg);
    background-size: 100%;
    background-position: center;

}
header{
 /* border: 1px solid black; */
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header a{
/*  border: 1px solid black;*/
  padding: 10px 20px;
  font-size: 16px;
  font-family: "Mulish", sans-serif;
  color: black;
  font-weight: bold;
}
span{
  color: red;
}

/*----------------------Hero banner section-----------------------*/
.hero__banner{
  /* border: 3px solid black; */
  margin-top: 30px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
.hero__content{
  /* border: 1px solid black; */
  align-self: center;
  padding: 10px;
}
.hero__content p{
  margin-top: 10px;
}
span{
  color: red;
}
.hero__content button{
  padding: 10px;
  margin-top: 20px;
  border: none;
  border-radius: 6px;
  background-color: red;
  color: white;

}
.hero__image{
  padding: 10px;
  /* border: 2px solid blue; */
  height: 500px;
  width: 500px;
  /* background-color: gray; */
  flex-wrap: wrap;
}
.hero__image img{
  width: 100%;
  z-index: 0;
  animation-name: rotatefunc;
  animation-duration: 2s;
  animation-timing-function: linear;
}

@keyframes rotatefunc{
  0%{
    transform: rotate(-360deg);
  }
}


/*------------------------menu-------------------------------------*/

.menu__section{
  margin: 10px;
  /* border: 2px solid black; */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.menu{
  /* border: 3px solid blue; */
  margin: 10px;
  padding: 10px;
  width: 75%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.menu__item{
  /* border: 1px solid black; */
  padding: 10px;
  width: 280px;
}
.menu__item img{
  width: 100%;
}



/*-----------------------------Review-----------------------------*/


.review{
  /* border: 3px solid deeppink; */
  margin: 10px;
  display: flex;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  background-image: url(./images/vegi.jpg);
  background-size: 100%;
  height: 500px;

}

.review__content{
  /* border: 1px solid limegreen; */
  /* line-height: 10px; */
  align-self: center;
  padding: 30px;
}
.review__content p{
  font-size: 25px;

}
.review__content button{
  border: none;
  border-radius: 6px;
  padding: 10px;
  background-color: red;
  color: white;

}



/*---------------------------Blogs--------------------------------*/

.blogs{
  /* border: 2px solid red; */
  padding: 100px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-wrap: wrap; */
}
.blogs__section{
  /* border: 1px solid black; */
  padding: 10px;
  width: 25%;
  height: auto;
}
.blogs__section img{
  width: 100%;
}
.blogs__content{
  padding: 10px;
}
.blogs__content p{
  margin-top: 10px;
}

.blogs__section button{
  margin-top: 20px;
  background-color: red;
  color: white;
  padding: 5px;
  border-radius: 5px;
  border: none;
}

/*---------------------Contact US --------------------------*/
.contactUs{
  display: flex;
  gap: 20px;
  justify-content: space-around;
  background-image: url(images/banner-bg.jpg);
  padding: 30px 10px;
}
.contact__content{
  /* border: 2px solid orange; */
  width: 60%;
  align-self: center;
}
.contact__content p{
  margin-top: 20px;
  margin-bottom: 20px;
}
.contact__buttons{
  padding: 10px;
  display: flex;
  gap: 20px;
}
.contact__content img{
  height: 25px;
  width: 25px;
 
}
.contact__content button{
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  font-weight: bold;
  
}
.contact__image{
  /* border: 2px solid black; */
  height: 400px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.contact__image img{
  height: 100%;
}











/*--------------------------Responsive--------------------------*/


/*----------------------------------------------------------------------------------*/
/*----------Hero section -Tab and large screens----------- */

@media screen and (max-width: 1080px){
  /*------------------contact us responsive-------------------*/
.contactUs{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact__content{
  width: 100%;
  padding: 10px;;
  align-self: center;
  text-align: center;
}

.contact__content h2{
  margin-bottom: 10px;
  font-size: 14px;
}
.contact__content p{
  text-align: justify;
  font-size: 10px;
  margin: 5px;
}
.contact__image{
  /* border: 2px solid black; */
  height: 300px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.contact__buttons{
 justify-content: center;

}
.contact__content buttons{
  padding: 5px;
  font-size: 10px;
}
.contact__content img{
  height: 15px;
  width: 15px;
 
}
.contact__image img{
  height: 100%;
}





}
@media screen and (min-width:801px) and (max-width:1050px){
  .hero{
    height: 100%;
  }
  .hero__content h1{
    font-size: 25px;
  }
  .hero__image{
    height: auto;
    width: 350px;
    /* background-color: cadetblue; */
  }


}




/*For small screens*/
@media screen and (max-width: 800px){
  /*nav section- hiding*/
  header a{
    display: none;
  }
  /*---------------------hero section -responsive--------------------*/
  .hero{
    height: 100%;
  }
  .hero__banner{
    flex-wrap: wrap;
    justify-content: center;
  }
  .hero__content h1{
    font-size: 25px;
  }
  .hero__content p{
    font-size: 12px;
  }

  .hero__image{
    margin-top: 20px;
    /* background-color: #7e8ffa; */
    height: 300px;
    width: 300px;
  }

  /*------------------------menu responsive---------------------*/
  .menu__item{
    flex-basis: 50%;
  }
  .menu__item img{
    width: 100%;
  }

  .menu__item h2{
    font-size: 14px;
  }
  .menu__item p{
    font-size: 12px;
  }


  /*-------------------Review Responsive ---------------------*/

  .review{
    border: 1px solid black;
    border-radius: 3px;
    height: 250px;
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    align-self: center;
    /* flex-wrap: wrap; */
  }
  .review__content{
    padding: 10px;
  }
  .review__content h2{
    font-size: 12px;
  }
  .review__content p{
    font-size: 10px;
  }

  .review__content button{
    font-size: 10px;
    padding: 5px 10px;
  }


  /*-------------------Blogs Responsive--------------------------*/
 .blogs{
  /* border: 3px solid yellowgreen; */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 10px;
 }
/*important sudden idea*/
 .blogs__section{
  /* border: 1px solid black; */
  width: 100%;
  display: flex;
  justify-content: space-between;
 }

.blogs__content{
  align-self: center;
}
.blogs__content h2{
  font-size: 18px;
}
.blogs__content p{
  font-size: 12px;
  text-align: justify;
}

.blogs__section img{
  width: 40%;
}



}










